<div class="sidebar">
  <div class="logo">
    <div class="logo-icon"></div>
    <span>DAWEB IES</span>
  </div>

  <nav class="nav-links">
    <a routerLink="/alumnos" routerLinkActive="active" class="nav-item">
      <span style="width: 20px;">👥</span> Alumnos
    </a>
    <a routerLink="/profesores" routerLinkActive="active" class="nav-item">
      <span style="width: 20px;">🎓</span> Profesores
    </a>
    <a routerLink="/asignaturas" routerLinkActive="active" class="nav-item">
      <span style="width: 20px;">📚</span> Asignaturas
    </a>
    <a routerLink="/matriculas" routerLinkActive="active" class="nav-item">
      <span style="width: 20px;">📋</span> Matrículas
    </a>
  </nav>


</div>

<main class="main-wrapper">
  <router-outlet></router-outlet>
</main>